<nb-layout class="sub-page-layout">
    <nb-layout-column class="admin-side-sec">
      <button
        fullWidth
        nbButton
        status="basic"
        nbButton
        status="basic"
        (click)="loadCreateForm('form')"
      >
        create form
      </button>
      <standalone-ce6-admin-ticket-list-item (click)="loadTicketDetails('ticket')"></standalone-ce6-admin-ticket-list-item>
        
     
    </nb-layout-column>
    <nb-layout-column class="admin-detail-side-sec">
      <standalone-ce6-admin-create-ticket-form *ngIf="flag === 'form'"></standalone-ce6-admin-create-ticket-form>
      <standalone-ce6-admin-ticket-details-view
        *ngIf="flag === 'ticket'"
      ></standalone-ce6-admin-ticket-details-view>
    </nb-layout-column>
  </nb-layout>
  