<!-- <div class="admin-table-box p15" *ngIf="selectedTab === 'access'"> -->
    <div class="admin-table-box p15">
        <div class="d-flex justify-content-between align-items-end">
          <div class="cols">
            <h3 class="h3">Map user to roles and organizations</h3>
            <p>Roe mapping for : Mr: Thiru</p>
          </div>
          <div class="cols list-actions">
            <div class="field-wrapper">
              <label>Orgnization</label>
      
              <nb-select placeholder="Select Showcase" size="small">
                <nb-option value="">Option empty</nb-option>
                <nb-option value="0">Option 0</nb-option>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
            </div>
            <div class="field-wrapper">
              <label>Role</label>
      
              <nb-select placeholder="Select Showcase" size="small">
                <nb-option value="">Option empty</nb-option>
                <nb-option value="0">Option 0</nb-option>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
            </div>
            <div class="field-wrapper">
              <button nbButton status="primary" size="small">Add</button>
            </div>
          </div>
        </div>
      
        <div class="admin-table-responsive">
          <table class="admin-table admin-table-bordered">
            <thead>
              <tr>
                <th>Orgnization</th>
                <th>Role</th>
                <th width="20">
                  <button nbButton status="primary" size="small">x</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th>
                  <input type="checkbox" />
                </th>
                <!-- <td>
                  <nb-icon icon="more-vertical-outline"></nb-icon>
                </td> -->
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <th><input type="checkbox" /></th>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div class="bottom-actions">
          <button nbButton status="success" size="small">Assign</button>
          <button nbButton status="primary" size="small">Clean Up</button>
        </div>
      </div>
      