<div class="page-menu-container">
  <nb-actions size="large" class="main-top-tabs">
    <nb-action
      (click)="loadModulesView(modules)"
      *ngFor="let modules of loadConfigModules"
      >{{ modules.name }}</nb-action
    >
  </nb-actions>

    <div class="content-container admin-scrollbar">
      <!-- <div>
        <nb-select
          placeholder="Select Role"
          size="small"
          [(selected)]="selectedItem"
        >
          <nb-option
            *ngFor="let role of userRoles; let i = index"
            [value]="role.id"
            (click)="onUserSelection(role, i)"
            >{{ role.role }}
          </nb-option>
        </nb-select>
      </div> -->
      <standalone-ce6-admin-quick-action-view  [subNavigation]="subNavigation"
      (tabValue)="switchTab($event)"></standalone-ce6-admin-quick-action-view>
       
      <ng-template #adminContentLib> </ng-template>
    </div>
  </div>
  