<h3 class="h3">Quick Action</h3>

<div class="admin-cards-listing-row">
  <div class="col" *ngFor="let subnav of subNavigation">
    <nb-card
      class="admin-quick-card"
      [ngClass]="[selectedTab === 'my-access' ? 'active' : '']"
      (click)="switchTab(subnav.id)"
    >
      <nb-card-header>
        <div class="img">
          <fa-icon [icon]="faUniversalAccess"></fa-icon>
        </div>
        <div class="info">
          <h6 class="h6">{{ subnav.name }}</h6>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
