<div class="admin-table-box p15">
    <div class="d-flex justify-content-between align-items-end">
      <div class="cols">
        <h3 class="h3">Portal Administration</h3>
        <p>Import System files</p>
      </div>
    </div>
  
    <div class="admin-table-box-inner-white">
      <div class="small-col-forms">
        <div class="row pb-10">
          <div class="col-4">
            <label>File type:</label>
          </div>
          <div class="col-8">
            <nb-select
              placeholder="Select Showcase"
              size="small"
              status="primary"
            >
              <nb-option value="">Option empty</nb-option>
              <nb-option value="0">Option 0</nb-option>
              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
              <nb-option value="3">Option 3</nb-option>
              <nb-option value="4">Option 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-4">
            <label>File to Upload:</label>
          </div>
          <div class="col-8">
            <div class="pb-10">
              <input
                type="file"
                nbInput
                fullWidth
                status="primary"
                fieldSize="small"
                placeholder="Primary"
              />
            </div>
            <button nbButton status="success" size="small">
              Import template
            </button>
  
            <!-- <nb-select placeholder="Select Showcase" size="small" status="primary">
            <nb-option value="">Option empty</nb-option>
            <nb-option value="0">Option 0</nb-option>
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select> -->
          </div>
        </div>
  
        <div class="row pb-10">
          <div class="col-4">
            <label>Select report type:</label>
          </div>
          <div class="col-8">
            <nb-select
              placeholder="Select Showcase"
              size="small"
              status="primary"
            >
              <nb-option value="">Option empty</nb-option>
              <nb-option value="0">Option 0</nb-option>
              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
              <nb-option value="3">Option 3</nb-option>
              <nb-option value="4">Option 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row pb-10">
          <div class="col-4"></div>
          <div class="col-8">
            <button nbButton status="primary" size="small">Export</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  