<div class="admin-table-box p15">
  <div class="admin-table-responsive">
    <table class="admin-table admin-table-bordered">
      <thead>
        <tr>
          <th>Module Id</th>
          <th>Module name</th>
          <th>Type</th>
          <th>Date</th>
          <th width="20"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td>00152</td>
          <td>ModuleActive</td>
          <td>Searchconfig</td>
          <td>
            2018-08-19 <br />
            00:05:33:00
          </td>
          <td>
            <button nbButton status="primary" size="small">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="bottom-actions">
        <button nbButton status="success" size="small">Assign</button>
        <button nbButton status="basic" size="small">Clean Up</button>
      </div> -->

  <div
    class="admin-pagination-outer d-flex justify-content-between align-items-center"
  >
    <p>Showing 1 to 30 entries</p>

    <div class="admin-pagination">
      <button nbButton status="basic" size="small">Previous</button>
      <button nbButton status="primary" size="small">1</button>
      <button nbButton status="basic" size="small">2</button>
      <button nbButton status="basic" size="small">3</button>
      <button nbButton status="basic" size="small">4</button>
      <button nbButton status="basic" size="small">Next</button>
    </div>
  </div>
</div>