<div class="admin-table-box p15">
    <div class="d-flex justify-content-between align-items-end">
      <div class="cols list-actions">
        <nb-select tag="sa-user" placeholder="Show All Schools" size="small">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
  
        <div class="field-wrapper">
          <button nbButton status="primary" size="small">
            Submit
          </button>
        </div>
      </div>
      <div class="cols list-actions">
        <div class="field-wrapper" (click)="createUser()">
          <button nbButton status="primary" size="small">
            Create User
          </button>
        </div>
        <div class="field-wrapper">
          <button nbButton status="primary" size="small">
            Import User
          </button>
        </div>
        <div class="field-wrapper">
          <button nbButton status="primary" size="small">
            Export User
          </button>
        </div>
      </div>
    </div>
  
    <div class="admin-table-responsive">
      <table class="admin-table admin-table-bordered">
        <thead>
          <tr>
            <th width="70%">Full Name</th>
            <th>User Status</th>
            <th>Login Status</th>
            <th>Last Login On</th>
            <th width="20"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Zakir Khan</td>
            <td>Active</td>
            <td>Enabled</td>
            <td>
              2018-08-19 <br />
              00:05:33:00
            </td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td>Zakir Khan</td>
            <td>Active</td>
            <td>Enabled</td>
            <td>
              2018-08-19 <br />
              00:05:33:00
            </td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td>Zakir Khan</td>
            <td>Active</td>
            <td>Enabled</td>
            <td>
              2018-08-19 <br />
              00:05:33:00
            </td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td>Zakir Khan</td>
            <td>Active</td>
            <td>Enabled</td>
            <td>
              2018-08-19 <br />
              00:05:33:00
            </td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td>Zakir Khan</td>
            <td>Active</td>
            <td>Enabled</td>
            <td>
              2018-08-19 <br />
              00:05:33:00
            </td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bottom-actions d-flex align-items-center">
      <label class="pr-15">Filter By:</label>
      <nb-radio-group class="d-flex">
        <nb-radio *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
        </nb-radio>
      </nb-radio-group>
    </div>
  
    <div
      class="admin-pagination-outer d-flex justify-content-between align-items-center"
    >
      <p>Showing 1 to 30 entries</p>
  
      <div class="admin-pagination">
        <button nbButton status="basic" size="small">Previous</button>
        <button nbButton status="primary" size="small">1</button>
        <button nbButton status="basic" size="small">2</button>
        <button nbButton status="basic" size="small">3</button>
        <button nbButton status="basic" size="small">4</button>
        <button nbButton status="basic" size="small">Next</button>
      </div>
    </div>
    <!-- <div class="bottom-actions">
          <button nbButton status="success" size="small">Assign</button>
          <button nbButton status="basic" size="small">Clean Up</button>
        </div> -->
  </div>