<div class="admin-cards-listing-row">
    <div class="col-3">
      <nb-card class="admin-quick-card active">
        <nb-card-header>
          <div class="img">
            <fa-icon [icon]="faDatabase" ></fa-icon>
          </div>
          <div class="info">
            <h6 class="h6">Build details</h6>
          </div>
        </nb-card-header>
      </nb-card>
    </div>
  </div>
  <!-- School’s List Start -->
  <div class="admin-table-box p15">
    <div class="d-flex justify-content-between align-items-end">
      <h3 class="h3 pb-10">Build details</h3>
    </div>
  
    <div class="admin-table-responsive">
      <table class="admin-table admin-table-bordered">
        <thead>
          <tr>
            <th>Module Name</th>
            <th>Module Version</th>
            <th>Module Date</th>
            <th>Server</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
          <tr>
            <td>Administrator</td>
            <td>4.4.5</td>
            <td>12/12/2021</td>
            <td>TCEPRDAPP002V:9120</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- <div class="bottom-actions">
          <button nbButton status="success" size="small">Assign</button>
          <button nbButton status="basic" size="small">Clean Up</button>
        </div> -->
  </div>
  <!-- School’s List Ends -->
  