$font-family-primary: 'Quicksand';

.nb-theme-default nb-layout-header nav {
    padding: 0;
    height: 70px;
    z-index: 999;
  }
  
  .pb-10 {
    padding-bottom: 10px;
  }
  
  .sub-page-layout {
    .plan-mode-card {
      padding: 0;
    }
    .layout {
      background: none !important;
    }
    .admin-detail-side-sec {
      padding-top: 0;
    }
  }
  
  .appearance-filled.status-primary {
    background: var(--header-color) !important;
  
    font-weight: bold;
    font-size: 17px;
    text-transform: none;
    border: 0 !important;
  }
  [nbButton].appearance-filled {
    text-transform: none !important;
  }
  
  nb-select.appearance-outline.status-basic .select-button,
  [nbInput].status-basic {
    background: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) !important;
    font-size: 15px !important;
  }
  .text-right {
    text-align: right;
  }
  .control-status-row {
    button {
      margin: 0 0 0 20px;
    }
  }
  
  [nbButton].appearance-filled.status-basic {
    background: #c4c4c4 !important;
  }
  
  .nb-theme-default {
    h1,
    .h1 {
      font-size: 30px;
    }
    h2,
    .h2 {
      font-size: 24px;
    }
    h3,
    .h3 {
      font-size: 20px;
    }
    h4,
    .h4 {
      font-size: 18px;
    }
    h5,
    .h5 {
      font-size: 16px;
    }
    h6,
    .h6 {
      font-size: 14px;
    }
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  .mb-10 {
    margin-bottom: 0;
  }
  .nb-theme-default [nbButton].size-small {
    font-size: 14px;
  }
  
  .nb-theme-default {
    p,
    ol,
    ul,
    li,
    dl,
    dt,
    dd,
    blockquote,
    figure,
    fieldset,
    legend,
    textarea,
    pre,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div {
      font-family: $font-family-primary !important;
    }
  }
  // Tables Css
  .admin-table {
    width: 100%;
    max-width: 100%;
    // margin-bottom: 1rem;
  }
  
  .admin-table th,
  .admin-table td {
    padding: 8px 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
  }
  
  .admin-tablet head th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
  }
  
  .admin-tablet body + tbody {
    border-top: 2px solid #eceeef;
  }
  
  .admin-table .admin-table {
    background-color: #fff;
  }
  
  .admin-table-sm th,
  .admin-table-sm td {
    padding: 0.3rem;
  }
  
  .admin-table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .admin-table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .admin-table-active,
  .admin-table-active > th,
  .admin-table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .admin-table-hover .admin-table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .admin-table-hover .admin-table-active:hover > td,
  .admin-table-hover .admin-table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .admin-table-success,
  .admin-table-success > th,
  .admin-table-success > td {
    background-color: #dff0d8;
  }
  
  .admin-table-hover .admin-table-success:hover {
    background-color: #d0e9c6;
  }
  
  .admin-table-hover .admin-table-success:hover > td,
  .admin-table-hover .admin-table-success:hover > th {
    background-color: #d0e9c6;
  }
  
  .admin-table-info,
  .admin-table-info > th,
  .admin-table-info > td {
    background-color: #d9edf7;
  }
  
  .admin-table-hover .admin-table-info:hover {
    background-color: #c4e3f3;
  }
  
  .admin-table-hover .admin-table-info:hover > td,
  .admin-table-hover .admin-table-info:hover > th {
    background-color: #c4e3f3;
  }
  
  .admin-table-warning,
  .admin-table-warning > th,
  .admin-table-warning > td {
    background-color: #fcf8e3;
  }
  
  .admin-table-hover .admin-table-warning:hover {
    background-color: #faf2cc;
  }
  
  .admin-table-hover .admin-table-warning:hover > td,
  .admin-table-hover .admin-table-warning:hover > th {
    background-color: #faf2cc;
  }
  
  .admin-table-danger,
  .admin-table-danger > th,
  .admin-table-danger > td {
    background-color: #f2dede;
  }
  
  .admin-table-hover .admin-table-danger:hover {
    background-color: #ebcccc;
  }
  
  .admin-table-hover .admin-table-danger:hover > td,
  .admin-table-hover .admin-table-danger:hover > th {
    background-color: #ebcccc;
  }
  
  .thead-inverse th {
    color: #fff;
    background-color: #292b2c;
  }
  
  .thead-default th {
    color: #464a4c;
    background-color: #eceeef;
  }
  
  .admin-table-inverse {
    color: #fff;
    background-color: #292b2c;
  }
  
  .admin-table-inverse th,
  .admin-table-inverse td,
  .admin-table-inverse thead th {
    border-color: #fff;
  }
  
  .admin-table-inverse.admin-table-bordered {
    border: 0;
  }
  
  .admin-table-bordered {
    border: 1px solid #eceeef;
  }
  
  .admin-table-bordered th,
  .admin-table-bordered td {
    border: 1px solid #eceeef;
  }
  
  .admin-table-bordered thead th,
  .admin-table-bordered thead td {
    border-bottom-width: 2px;
  }
  .admin-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .admin-table-responsive.admin-table-bordered {
    border: 0;
  }
  
  .admin-text-center {
    text-align: center;
  }
  .btn-icon {
    background: none;
    border: 0;
    height: auto;
    margin: 0 5px;
  }
  
  .users-overlay-list {
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      text-align: center;
      margin: 0 -18px 0 0;
      vertical-align: top;
    }
  }
  
  .bold {
    font-weight: bold;
  }
  
  .box {
    background: var(--page-box-bg);
    border-radius: 10px;
    padding: 10px;
  }
  
  ::ng-deep {
    .nb-theme-default {
    }
  }
  .round-tabs {
    position: relative;
    padding: 15px 0 0;
  
    nb-tabset nb-tab,
    nb-card-body {
      padding: 0;
      overflow: visible;
    }
    nb-card-header {
      border: 0;
    }
    nb-card-body {
      padding: 0 20px;
    }
  
    .tabset {
      position: absolute;
      top: -30px;
      left: 0;
      border: 0;
    }
  
    nb-tabset {
      .tab.active .tab-link,
      .tab-link,
      .tab:hover .tab-link {
        padding: 10px 30px;
        margin: 0 10px 0 0;
        color: #000;
        border-radius: 20px;
        background-color: var(--page-box-bg);
        text-transform: none;
        font-size: 18px;
        font-weight: 700;
  
        &:before {
          display: none !important;
        }
      }
      .tab.active .tab-link {
        background: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }
      // .tab:hover .tab-link,
      // .tab.active .tab-link {
      //   color: #000;
      // }
      // .tab:hover .tab-link::before,
      // .tab.active .tab-link::before {
      //   background-color: #000;
      // }
    }
  }
  
  .result-sec {
    display: flex;
    flex-wrap: wrap;
    .col {
      width: 50%;
      padding: 15px 0;
      font-size: 18px;
      label {
        display: block;
      }
    }
  }
  
  .br-left {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .right-col {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .nb-theme-default {
    nb-sidebar {
      background-color: var(--header-color);
    }
    .menu-sidebar .menu-item {
      border: 0;
      padding: 5px;
      padding-right: 0;
      a:hover,
      a {
        color: #fff;
        padding: 10px 16px;
      }
  
      a.active {
        background: var(--page-bg-gray);
        color: var(--header-color);
        border-radius: 20px 0 0 20px;
      }
      a:hover {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        border-radius: 20px 0 0 20px;
        .menu-icon {
          color: #fff;
        }
      }
      .menu-icon {
        color: inherit;
      }
    }
  
    .nbContainer nb-sidebar.compacted nb-menu .menu-item a {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  
  .p15 {
    padding: 15px;
  }
  .admin-table-box {
    margin: 0 0 30px;
    table {
      tr {
        background: #fff;
        border-radius: 5px;
      }
      thead {
        tr {
          background: #e7e6e8;
          th,
          td {
            font-weight: 800;
          }
        }
      }
      tr:nth-child(even) {
        background: #e7e6e8;
      }
      th,
      td {
        border: 0;
        border-bottom: 6px solid var(--page-box-bg);
        label {
          font-size: 80%;
        }
      }
    }
  }
  
  .list-actions {
    padding: 0 0 15px;
  }
  .field-wrapper {
    display: inline-block;
    padding: 0 0 0 20px;
    vertical-align: top;
    label {
      padding: 0 15px 0 0;
    }
  }
  .bottom-actions {
    button {
      margin: 0 15px 0 0;
    }
  }
  
  .admin-table-responsive,
  .admin-scrollbar {
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--primary-color);
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-color);
    }
  }
  .admin-table-responsive {
    overflow: auto;
    min-height: calc(300px);
    max-height: calc(100vh - 500px);
    margin: 0 0 15px;
  }
  
  .input-wrapper {
    padding: 0 0 20px;
    label {
      padding: 0 0 5px;
      font-size: 14px;
      display: block;
    }
  }
  
  .admin-form-sec {
    position: relative;
    .horizontal {
      .step-content {
        padding: 0 !important;
      }
      .header {
        position: absolute;
        left: 15px;
        bottom: 10px;
        align-items: center;
  
        .step {
          margin: 0 !important;
        }
        .connector {
          margin: 0 10px !important;
          min-width: 40px !important;
          height: 6px !important;
        }
        .label-index {
          margin: 0 !important;
        }
      }
    }
  }
  
  .admin-cards-listing-row {
    display: flex;
    margin: 0 -10px;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background: var(--page-bg-gray) !important;
    z-index: 99;
  
    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9 {
      padding: 0 10px;
    }
  
    .col {
      max-width: 25%;
    }
  
    .admin-quick-card {
      font-size: 14px;
      padding: 8px;
      border-radius: 10px;
      background: #c4c4c4;
      cursor: pointer;
      transition: all 0.2s;
      margin: 10px 0 10px;
  
      .info {
        p {
          padding: 0;
          margin: 0;
        }
      }
      nb-card-header {
        padding: 0;
        align-items: center;
        border: 0;
        display: flex;
      }
  
      h6 {
        font-size: 16px;
        display: block;
      }
      p {
        display: block;
      }
      .img {
        margin: 0 10px 0 0;
        min-width: 42px;
        min-height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        fa-icon {
          font-size: 30px;
          color: var(--primary-color);
        }
  
        svg {
          display: block;
        }
      }
  
      nb-card-body {
        padding: 0;
      }
      &:hover,
      &.active {
        background: var(--primary-color);
        color: #fff;
  
        h6,
        p {
          color: #fff;
        }
        .img {
          fa-icon {
            color: #fff;
          }
        }
      }
    }
  }
  
  .admin-table-box {
    background: var(--page-box-bg);
    border-radius: 10px;
    // padding: 10px;
    nb-tabset nb-tab,
    nb-card-body {
      padding: 0;
      overflow: visible;
    }
    nb-card-header {
      border: 0;
    }
    nb-card-body {
      padding: 0 20px;
    }
    .tabs-tables {
      margin: 0;
      table {
        tr {
          background: #fff;
          border-radius: 5px;
        }
        thead {
          tr {
            background: #e7e6e8;
          }
        }
        tr:nth-child(even) {
          background: #e7e6e8;
        }
        th,
        td {
          border: 0;
          border-bottom: 6px solid var(--page-box-bg);
          label {
            font-size: 80%;
          }
        }
      }
    }
    .tabset {
      position: absolute;
      top: -50px;
      left: 20px;
      border: 0;
    }
  
    nb-tabset {
      .tab-link {
        padding: 8px 5px;
        margin: 0 30px 0 0;
        color: #000;
        &hover {
          color: #000;
        }
      }
      .tab:hover .tab-link,
      .tab.active .tab-link {
        color: #000;
      }
      .tab:hover .tab-link::before,
      .tab.active .tab-link::before {
        background-color: #000;
      }
    }
  }
  
  .nb-theme-default nb-context-menu nb-menu {
    border: 1px solid rgba(0, 0, 0, 0.3);
    .menu-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    a {
      padding: 5px !important;
    }
  }
  
  .mid-page-sec {
    border-radius: 5px 30px 0 0 !important;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    background: var(--page-bg-gray) !important;
  
    .plan-mode-card {
      padding: 0 !important;
      overflow: visible;
    }
  }
  .page-menu-container {
    .main-top-tabs {
      margin-top: -40px;
      padding: 0 10px;
    }
    .content-container {
      padding: 0 20px 20px;
      overflow: auto;
      height: calc(100vh - 162px);
    }
  }
  
  .pr-15 {
    padding-right: 15px;
  }
  
  .admin-pagination {
    button {
      margin: 0 0 0 10px;
    }
  }
  
  .small-col-forms {
    max-width: 600px;
  }
  
  .admin-table-box-inner-white {
    background: #fff;
    border-radius: 8px;
    padding: 20px 15px;
  }
  
  .instruction,
  .asterisk {
    color: red;
  }
  
  .admin-modal-lg {
    width: 90vw;
    max-width: 1000px;
  }
  
  .admin-white-box {
    background: #fff;
    border-radius: 20px;
  }
  .planning-mode .nav-tabs {
    border-bottom: 3px solid var(--primary-color);
  }
  
  .planning-mode .nav-tabs .nav-link {
    border: 3px solid transparent;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
  }
  .planning-mode .nav-tabs .nav-item {
    margin-bottom: -3px;
    transition: all 0.5s;
  }
  .planning-mode .nav-tabs .nav-link.active,
  .planning-mode .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #f7f7f7;
    border-color: var(--primary-color) var(--primary-color) #f7f7f7;
  }
  
  .planning-mode .nav-tabs .nav-link:hover,
  .planning-mode .nav-tabs .nav-link:focus {
    border-color: var(--primary-color) var(--primary-color) #f7f7f7;
  }
  