<div class="admin-table-box p15" >
    <div class="d-flex justify-content-between align-items-end">
      <div class="cols list-actions">
        <nb-select placeholder="Show All Schools" size="small">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
  
        <div class="field-wrapper">
          <button nbButton status="primary" size="small">
            Submit
          </button>
        </div>
      </div>
      <div class="cols list-actions">
        <div class="field-wrapper" (click)="addNewBoard()">
          <button nbButton status="primary" size="small">
            Add Board
          </button>
        </div>
  
        <div class="field-wrapper">
          <button nbButton status="primary" size="small">
            Export
          </button>
        </div>
      </div>
    </div>
  
    <div class="admin-table-responsive">
      <table class="admin-table admin-table-bordered">
        <thead>
          <tr>
            <th width="80%">Board</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CBSE</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>CBSE</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>CBSE</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>CBSE</td>
            <td>Active</td>
          </tr>
  
          <tr>
            <td>CBSE</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>CBSE</td>
            <td>Active</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="bottom-actions d-flex align-items-center">
      <label class="pr-15">Filter By:</label>
      <nb-radio-group class="d-flex">
        <nb-radio *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
        </nb-radio>
      </nb-radio-group>
    </div>
  
    <div
      class="admin-pagination-outer d-flex justify-content-between align-items-center"
    >
      <p>Showing 1 to 30 entries</p>
  
      <div class="admin-pagination">
        <button nbButton status="basic" size="small">Previous</button>
        <button nbButton status="primary" size="small">1</button>
        <button nbButton status="basic" size="small">2</button>
        <button nbButton status="basic" size="small">3</button>
        <button nbButton status="basic" size="small">4</button>
        <button nbButton status="basic" size="small">Next</button>
      </div>
    </div>
  </div>