<div class="admin-cards-listing-row" >
    <div class="col">
      <nb-card class="admin-quick-card active">
        <nb-card-header>
          <div class="img">
            <fa-icon [icon]="faSchool"></fa-icon>
          </div>
          <div class="info">
            <h6 class="h6">2000</h6>
            <p>Schools</p>
          </div>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col">
      <nb-card class="admin-quick-card d-flex">
        <nb-card-header>
          <div class="img">
            <fa-icon [icon]="faUsers"></fa-icon>
          </div>
          <div class="info">
            <h6 class="h6">4503</h6>
            <p>Users</p>
          </div>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col">
      <nb-card class="admin-quick-card d-flex">
        <nb-card-header>
          <div class="img">
            <fa-icon [icon]="faFileSignature"></fa-icon>
          </div>
          <div class="info">
            <h6 class="h6">150</h6>
            <p>Contracts Ending Soon</p>
          </div>
        </nb-card-header>
      </nb-card>
    </div>
  </div>
  <div class="admin-table-box p15">
    <div class="d-flex justify-content-between align-items-end">
      <div class="cols">
        <h3 class="h3 pb-10">School’s List</h3>
        <!-- <p>Roe mapping for : Mr: Thiru</p> -->
      </div>
      <div class="cols list-actions">
        <button class="btn-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            class="eva eva-search"
          >
            <g data-name="Layer 2">
              <g data-name="search">
                <rect width="24" height="24" opacity="0"></rect>
                <path
                  d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"
                ></path>
              </g>
            </g>
          </svg>
        </button>
  
        <div class="field-wrapper">
          <nb-select placeholder="Show All Schools" size="small">
            <nb-option value="">Option empty</nb-option>
            <nb-option value="0">Option 0</nb-option>
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select>
        </div>
  
        <div class="field-wrapper" (click)="addNewSchool()">
          <button nbButton status="primary" size="small">
            Add New School License
          </button>
        </div>
      </div>
    </div>
  
    <div class="admin-table-responsive">
      <table class="admin-table admin-table-bordered">
        <thead>
          <tr>
            <th width="10">
              <input type="checkbox" />
            </th>
            <th>School Name</th>
            <th>Curriculum</th>
            <th>State</th>
            <th>Last Sync On</th>
            <th width="20"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Zigma Matriculation School Chennai</td>
            <td>TNSB_Zigma Matriculation School Chennai Content</td>
            <td>Tamil Nadu</td>
            <td>Yesteday, 10pm</td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Zigma Matriculation School Chennai</td>
            <td>TNSB_Zigma Matriculation School Chennai Content</td>
            <td>Tamil Nadu</td>
            <td>Yesteday, 10pm</td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Zigma Matriculation School Chennai</td>
            <td>TNSB_Zigma Matriculation School Chennai Content</td>
            <td>Tamil Nadu</td>
            <td>Yesteday, 10pm</td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Zigma Matriculation School Chennai</td>
            <td>TNSB_Zigma Matriculation School Chennai Content</td>
            <td>Tamil Nadu</td>
            <td>Yesteday, 10pm</td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Zigma Matriculation School Chennai</td>
            <td>TNSB_Zigma Matriculation School Chennai Content</td>
            <td>Tamil Nadu</td>
            <td>Yesteday, 10pm</td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" /></td>
            <td>Zigma Matriculation School Chennai</td>
            <td>TNSB_Zigma Matriculation School Chennai Content</td>
            <td>Tamil Nadu</td>
            <td>Yesteday, 10pm</td>
            <td>
              <nb-icon
                icon="more-vertical-outline"
                [nbContextMenu]="items"
              ></nb-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- <div class="bottom-actions">
        <button nbButton status="success" size="small">Assign</button>
        <button nbButton status="basic" size="small">Clean Up</button>
      </div> -->
  </div>