<div class="admin-table-box p15">
    <div class="d-flex justify-content-between align-items-end">
      <div class="cols">
        <h3 class="h3">Queue Statistics</h3>
      </div>
    </div>
  
    <div class="row pb-10">
      <div class="col-6">
        <div class="admin-table-responsive">
          <table class="admin-table admin-table-bordered">
            <tbody>
              <tr>
                <td width="100%">Import Q</td>
                <td class="text-right bold">5</td>
                <th>
                  <button
                    nbButton
                    status="primary"
                    size="tiny"
                  >
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Import Q</td>
                <td class="text-right bold">1520</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Import Q</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Import Q</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div class="admin-table-responsive">
          <table class="admin-table admin-table-bordered">
            <tbody>
              <tr>
                <td width="100%">Import Q</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Import Q</td>
                <td class="text-right bold">1520</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Import Q</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Import Q</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
              <tr>
                <td>Packages</td>
                <td class="text-right bold">5</td>
                <th>
                  <button nbButton status="primary" size="tiny">
                    View Files
                  </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="bottom-actions">
      <button nbButton status="success" size="small">Refresh</button>
      <button nbButton status="primary" size="small">Controls</button>
    </div>
  </div>
  